

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.textContainer{
    display: flex;
    height: 100%;
    gap: 2rem;
    justify-content: space-evenly;
    transition: box-shadow 0.2s ease;
}

.textContainer:hover{
    box-shadow: 0 4px 16px 0 rgba(60, 60, 60, 0.18);
    border-radius: 10px;
}

.dateLocationContainer{
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: #666666;
    justify-content: flex-start;
    align-items: center;
}

.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
}

p{
    color: #666666;
    font-size: 13px;
}

@media (min-width: 1921px) {

  
    .dateLocationContainer{
        display: flex;
        justify-content: space-between;
        width: 50%;
        color: #666666;
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    
  }